.footer {
    width: 100%;
    height: 100px;
    background-color: #121619;
    display: flex;
    flex-direction: row;
    padding-top: 10px;
  }
  
  .socialMedia {
    color: white;
    padding-top:10px;
    padding-left: 5%;
    margin-right: 30%;
    font-size: 250%;
    cursor: pointer;

  }
  
  .footer p {  
    margin: auto;
    color: white;
    justify-content: right;
    float: right;
    
  }

  @media only screen and (max-width: 600px) {
    .socialMedia {
      color: white;
      padding-top:15px;
      padding-left: 5%;
      margin-right: 30%;
      font-size: 200%;
      cursor: pointer
    }
    .footer p {  
      margin: auto;
      color: white;
      justify-content: right;
      float: right;
      padding-right: 5px;
      font-size: 0.9rem;
    }
  }