.register{
    display:block;
    margin-left:auto;
    margin-right:auto;
    padding: 10%;
    width:50%; 
}
.register img{
    opacity:0.6;
    width: 50%;
    display:block;
    margin-left:auto;
    margin-right:auto;
}

.register h2 {
  
    text-align: center;
    font-size: 1.2rem;
    opacity: 0.6;
}

.register button {
    border: none;
    align-items: center;
    border-radius: 5px;
    display: block;
    cursor: pointer;
    justify-content: center;
    background-color: #121619;
    height: 5%;
    width: 70%;
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    display:block;
    margin-left:auto;
    margin-right:auto;
  }
  
  .register button:hover {
    background-color: silver;
    cursor: pointer;
    transition: 0.3s ease-in;
  }

  .form{
    display:block;
    margin-left:auto;
    margin-right:auto;
    padding: 3%;
    width:50%; 
    
  }
  .form h1{
    display:block;
    margin-left:auto;
    margin-right:auto;
    margin-top: 0;

    
    
  }
  .form input{
    display:block;
    height:10%;
    margin-left:auto;
    margin-right:auto;
    padding: 1.5%;
    width:100%;
    border-radius: 4px;
  }
  .form button{
  
    border: none;
    align-items: right;
    border-radius: 5px;
    cursor: pointer;
    justify-content: center;
    background-color: #121619;
    height: 40px;
    width: 180px;
    color: white;
    text-decoration: none;
    font-size: 20px;
    flex: 50%;

   
  }
  .form button:hover{
  
    border: none;
    align-items: right;
    border-radius: 5px;
    cursor: pointer;
    justify-content: center;
    background-color: silver;
    height: 40px;
    width: 180px;
    color: white;
    text-decoration: none;
    font-size: 20px;
    flex: 50%;

   
  }
#collection{
  display:none;
  margin-left:auto;
  margin-right:auto;
  padding: 2%;
  width:50%; 
}

#collection .Product{
  padding:5%;
  align-self: right;
  background-color: transparent;
  border: none;
  text-align: left;
}
#collection .Product:hover{
  background-color: silver;
}

#collection .Product img{
  
  width: 50%;
}

